body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

a {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 20px;
}

.fett {
    font-weight: bold;
}

td {
    padding: .7em;
}

.schrift_monospace {
    font-family: monospace;
    width: 300px;
}

/* Regeln für Tabellen */
table {
    border-collapse: collapse;
}
tr {
    border: 1px solid black;
}
td, th {
    border: 1px solid black;
    padding: 1em;
}
.textzentriert{
    text-align: center;
}
