<!DOCTYPE html>
<html lang="de">
<head>
    <title>Detailansicht eines Thema</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/literaturverwaltung.css">
</head>
<body>

    <h1>
        Thema: <span th:text="${thema}"></span>        
    </h1>

    <a th:href="'/app/liste-publikationen-nach-thema/' + ${thema.getId()}">Zugehörige Publikationen</a>
    <br><br>

    <h2>Schlagwörter</h2>
    <table>
        <thead>
            <tr>
                <th>Deutsch</th>
                <th>Englisch</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="schlagwort : ${thema.getSchlagwoerterSet()}">
                <td th:text="${schlagwort.getDeutsch()}" ></td>
                <td th:text="${schlagwort.getEnglisch()}"></td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <a href="/app/liste-alle-publikationen">Zurück zur Liste aller Publikationen</a>

</body>