<!DOCTYPE html>
<html lang="de">
<head>
    <title>Alle Publikationen</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../literaturverwaltung.css">
</head>
<body>

    <h1>Alle Publikationen</h1>

    <p>
        <span class="fett">Anzahl der Publikationen: </span>
        <span th:text="${liste.size()}"></span>
    </p>
    <br><br>


    <div th:each="publikation : ${liste}">

        <p th:if="${publikation instanceof T(de.eldecker.dhbw.spring.literaturverwaltung.db.BuchEntity)}">
            <span class="fett">Buch: </span>
        </p>
        <p th:if="${publikation instanceof T(de.eldecker.dhbw.spring.literaturverwaltung.db.JournalArtikelEntity)}">
            <span class="fett">Journalartikel: </span>
        </p>
        <span th:text="${publikation}"></span>.
        <br><br>

    </div>

</body>